.screenstate-indicator {
	position: fixed;
	top: 5px;
	left: 5px;
	z-index: 10000;
	padding: 2px 2px 2px 2em;
}
.screenstate-indicator div{
	background-color: #ffffff;
	display: inline-block;
	padding: 5px 10px;
	font-family: "Courier New", "sans-serif";
}